

			<nav id="sidebar" style="height: 100%;">
				<div class="custom-menu">
					<!--<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>-->
        </div>
	  		<h1><a href="index.html" class="logo">Project Name</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a  routerLink="/home/client/list"><span class="fa fa-user mr-3"></span> Client </a>
          </li>
          <li>
              <a routerLink="/home/fourni/listt" ><span class="fa fa-user mr-3"></span> Fournisseur </a>
          </li>
          <li>
            <a routerLink="/home/produit/list" ><span class="fa fa-sticky-note mr-3"></span> Produit </a>
          </li>
          <li>
            <a href="/home/user"><span class="fa fa-sticky-note mr-3"></span> User </a>
          </li>
          
          
        </ul>

    	</nav>

        <!-- Page Content  -->
      

 